# created by virtualenv automatically
/venv
/.idea
/notebooks/.ipynb_checkpoints

# ignore coverage files
.coverage
coverage.xml

# ignore mesh files currently
*.obj
*.glb
*.navmesh
# Ignore outputs
*.wav
*.png
*.sofa
*.h5
*.reapeaks
*.json

!/tests/test_resources/**/*.obj
!/tests/test_resources/**/*.wav