# created by virtualenv automatically
/venv
/.idea
/notebooks/.ipynb_checkpoints
/audiblelight/__pycache__

# Ignore build
/dist/

# ignore coverage files
.coverage
coverage.xml

# ignore mesh files currently
*.obj
*.glb
*.navmesh
*.zip

# Ignore outputs
*.wav
*.mp3
*.aac
*.mpeg4
*.m4a
*.flac
*.png
*.gif
*.jpeg
*.bpm
*.ico
!/docs/_static/favicon.ico
!/icon.png
*.jpg
!icon.png
*.sofa
*.h5
*.reapeaks
*.json
*.csv

!/resources/mp3d_material_config.json
!/tests/test_resources/**/*.obj
!/tests/test_resources/**/*.wav

# Sphinx documentation
/docs/_build/
/docs/_autosummary/
/docs/_examples/
/_build/

.env
wget-log